{%extends 'testapp/base.html'%}

{%block content%}
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="mainform">Doctor Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="patient">Patient Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="prescriptions">Prescriptions</a>
    </li>
  </ul>
</div>
<div class="dropdown-divider"></div>
<h4>Prescription details for patient :</h4>
<ol>
    <li>Tablets:</li>
    <LI>Vacciens:</LI>
    <li>Details</li>
</ol>
{%endblock%}
