<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1 style="text-align:center;color:skyblue">Welcome all</h1>
    <a href="register" style="color:skyblue;">Student enroll Register</a>
    <a href="login" style="color:skyblue;">Login</a>
    <a href="logout" style="color:skyblue;">Logout</a>
    {%for data in datas%}
    <br>
    reg id:{{data.Reg_id}} 
    name: {{data.Name}}
    branch :{{data.Branch}}
    <br>
    {%endfor%}
    
</body>
</html>